<section id="footer" class="spacer-footer">
  <div class="container footer">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 footer-left">
        <img src="assets/images/lionicon.png" alt="Lion&LionLogo">
      </div>
      <div class="col-6 col-sm-6 col-md-6 footer-right">
        <address>
          Suit 17-1, Hampshire Place, <br>
          No.1, Jalan Mayang Sari, <br>
          50450, Kuala Lumpur Malaysia <br>
          E: <a href="info@lionandlion.com">info@lionandlion.com</a><br>
          T:+60327800950
        </address>
      </div>
    </div>
  </div>
</section>
