label {
  font-size: 10px;
}

.btn-lion {
  color: #fff;
  padding: 1px 30px 1px 30px;
  background-color: #f68b20;
  box-shadow: 1px 1px 1px #888888;
}

.btn-lion:hover {
  margin-top: -1px;
  margin-bottom: 1px;
}
