<section id="blog" class="spacer-blog">
  <div class="container">
    <div class="header-title">
      Blog
    </div>
    <div class="spacer">
      <div class="blog-content">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <img src="assets/images/blog-picture1.png" alt="imageBlog1">
            <p class="blogContent1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quia atque delectus incidunt qui
              hic
              illo officia eaque! Quisquam soluta quod odio quam sequi laboriosam illum quis corrupti aliquam
              reiciendis.
            </p>
          </div>
          <div class="col-sm-4 col-md-4">
            <img src="assets/images/blog-picture2.png" alt="imageBlog2">
            <p class="blogContent2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quia atque delectus incidunt qui
              hic
              illo officia eaque! Quisquam soluta quod odio quam sequi laboriosam illum quis corrupti aliquam
              reiciendis.
            </p>
          </div>
          <div class="col-sm-4 col-md-4">
            <img src="assets/images/blog-picture3.png" alt="imageBlog3">
            <p class="blogContent3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quia atque delectus incidunt qui
              hic
              illo officia eaque! Quisquam soluta quod odio quam sequi laboriosam illum quis corrupti aliquam
              reiciendis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
